<config platform="project" template="project (default)">Created: Sun Sep 28 16:29:42 2014
By: Rob
Using Template: project (default)

&lt;description to go here>
<option value="" name="icon" fromDef="true"/>
    <option value="" name="splashscreen" fromDef="true"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="" name="embed-icf" fromDef="true"/>
    <option value="" name="config" fromDef="true"/>
    <option value="Young California" name="name" fromDef="true"/>
    <option value="Young California" name="caption" fromDef="true"/>
    <option value="FreshMix" name="provider" fromDef="true"/>
    <option value="(C) FreshMix" name="copyright" fromDef="true"/>
    <option value="0.0.1" name="version" fromDef="true"/>
    <option value="" name="version-string" fromDef="true"/>
</config>
